.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  height: 30px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__netflix {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav__black {
  background-color: #111;
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 22px;
  }

  .nav__netflix {
    width: 70px;
  }
  .nav__avatar {
    width: 25px;
  }
}
